* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-blue: hsl(184, 100%, 22%);
  --deep-dark-blue: hsl(179, 100%, 13%);

  --font-size: 15px;
  --paragraph: hsla(0, 0%, 100%, 0.75);
  --paragraph-font: "Lexend Deca", sans-serif;
  --header-font: "Big Shoulders Display", cursive;

  --background-heading-button: hsl(0, 0%, 95%);

  --container-padding: 3rem;
}

.btn {
  display: block;
  background: var(--background-heading-button);
  border-radius: 50px;
  padding: 10px;
}

.btn:hover {
  cursor: pointer;
  background: inherit;
  color: var(--paragraph);
  border-color: var(--paragraph);
}

.sedan-btn {
  color: var(--bright-orange);
}
.suvs-btn {
  color: var(--dark-blue);
}
.luxury-btn {
  color: var(--deep-dark-blue);
}

body {
  font-size: var(--font-size);
  line-height: 2;
}

/* MAIN CONTENT */

.section-tile {
  padding: var(--container-padding);
  color: var(--paragraph);
  min-height: 100%;
}

.section-content {
  margin: 0 0 2rem 0; /*top right bottom left*/
}
h1 {
  font-family: var(--header-font);
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-family: var(--paragraph-font);
}

#sedans {
  background: var(--bright-orange);
}

#suvs {
  background: var(--dark-blue);
}

#luxury {
  background: var(--deep-dark-blue);
}

img.vehicle-images {
  display: block;
}
