* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GLOBAL STYLES */
:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-blue: hsl(184, 100%, 22%);
  --deep-dark-blue: hsl(179, 100%, 13%);

  --font-size: 15px;
  --paragraph: hsla(0, 0%, 100%, 0.75);
  --paragraph-font: "Lexend Deca", sans-serif;
  --header-font: "Big Shoulders Display", cursive;

  --background-heading-button: hsl(0, 0%, 95%);

  --section-padding: 2rem;
  --container-margin: 6rem auto;
}

.btn {
  display: block;
  width: 40%;
  background: var(--background-heading-button);
  border-radius: 50px;
  padding: 10px;
}

.btn:hover {
  cursor: pointer;
  background: inherit;
  color: var(--paragraph);
  border-color: var(--paragraph);
}
/* END: GLOBAL STYLES */

body {
  font-size: var(--font-size);
  line-height: 2;
}

/* .sedan-btn {
  color: var(--bright-orange);
}
.suvs-btn {
  color: var(--dark-blue);
}
.luxury-btn {
  color: var(--deep-dark-blue);
} */

/* MAIN CONTENT */
#main {
  margin: var(--container-margin);
}

.section-tile {
  padding: var(--section-padding);
  color: var(--paragraph);
  min-height: 100%;
}

#sedans.border-radius {
  border-radius: 15px 15px 0 0;
}

#luxury.border-radius {
  border-radius: 0 0 15px 15px;
}

.section-content {
  margin: 0 0 2rem 0; /*top right bottom left*/
}

img.vehicle-images {
  display: block;
}

h1 {
  font-family: var(--header-font);
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-family: var(--paragraph-font);
}

#sedans {
  background: var(--bright-orange);
}
.sedan-btn {
  color: var(--bright-orange);
}

#suvs {
  background: var(--dark-blue);
}
.suvs-btn {
  color: var(--dark-blue);
}

#luxury {
  background: var(--deep-dark-blue);
}
.luxury-btn {
  color: var(--deep-dark-blue);
}

/* FOOTER */
.attribution {
  font-size: var(--font-size);
  text-align: center;
  padding: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  color: var(--deep-dark-blue);
}

/* Add border radius to top/bottom @ left and right sides */
@media (min-width: 768px) {
  #sedans.border-radius {
    /* border-radius top-left + bottom left */
    border-radius: 10px 0 0 10px;
  }
  /* border-radius top-right + bottom right */
  #luxury.border-radius {
    border-radius: 0 10px 10px 0;
  }

  .btn {
    width: 80%;
  }
}
