* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-blue: hsl(184, 100%, 22%);
  --deep-dark-blue: hsl(179, 100%, 13%);

  --paragraph: hsla(0, 0%, 100%, 0.75);

  --background-heading-button: hsl(0, 0%, 95%);

  --font-size: 15px;
  --padding: 3rem;
}

.btn {
  display: block;
  background: var(--background-heading-button);
  border-radius: 50px;
  padding: 10px;
  width: 60%;
}

body {
  font-size: var(--font-size);
}

/* MAIN CONTENT */

.content {
  padding: var(--padding);
  color: var(--paragraph);
}

#sedans {
  background: var(--bright-orange);
}
#sedans .btn {
  color: var(--bright-orange);
}

#suvs {
  background: var(--dark-blue);
}
#suvs .btn {
  color: var(--dark-blue);
}

#luxury {
  background: var(--deep-dark-blue);
}
#luxury .btn {
  color: var(--deep-dark-blue);
}

img.vehicle-images {
  display: block;
}
